.header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  /* background-image: linear-gradient(76deg, #4622a8, #4b3d70); */
  background-image: linear-gradient(76deg, #f2f2f2, #d8d4e4);
  padding: 0 10%;
  position: relative;
  position: fixed;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header ul li {
  margin-left: 3rem;
}

.header ul li:hover a,
.header ul li:active a,
.header ul li.active a {
  border-left-color: #fed400;
  color: #9177d8;
}

.header ul li a {
  text-decoration: none;
  border-left: 3px solid #bbb0d8;
  padding-left: 18px;
  font-size: 1.2rem;
  color: #4622a8;
  font-weight: 400;
}

.header button {
  border: 2px solid #bbb0d8;
  border-radius: 5px;
  background: transparent;
  padding: 3px 6px 3px 6px;
  color: #fff;
  font: inherit;
  font-size: 1.2rem;
}

.header button:hover {
  cursor: pointer;
  color: #bbb0d8;
  border-color: #fed400;
}

.logout {
  color: #fff;
  font-size: 1.5rem;
}

.logout:hover {
  cursor: pointer;
  color: #bbb0d8;
}

/* .drawer {
  height: 3rem;
  background-color: orange;
  transform: translateY(-100%);
  transition: transform 0.4s ease-out;
}

.drawer.open {
  height: 3rem;
  transform: translateY(0%);
  z-index: 9;
}

.drawerList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: purple;
  font-size: 1.2rem;
  margin-top: 0;
}
.drawerList li {
  padding-top: 10px;
} */