.drawer {
  height: calc(100vh - 4rem);
  width: 400px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
  position: fixed;
  z-index: 9;
  bottom: 0;
}

.drawer.open {
  height: calc(100vh - 4rem);
  transform: translateX(0%);
  z-index: 9;
}

.image {
  max-width: 400px;
}

.drawerListContainer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}

.drawerList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: #fff;
  margin-top: 0;
  padding-left: 1rem;
  height: 400px;
}

.drawerList li {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #222;
}

.drawerList li:last-child {
  border-bottom: none;
}

.drawerList li li {
  border-bottom: none;
}

.drawerList li label:hover {
  cursor: pointer;
}

.drawerList li span {
  display: flex;
  justify-content: space-between;
}

.drawerList li span span {
  vertical-align: middle;
  padding-left: 1rem;
  border-bottom: none;
}

.icon {
  transform: rotate(0);
  transition: 0.3s transform ease-out;
}

.icon.iconRotate {
  transform: rotate(180deg);
  transition: 0.3s transform ease-out;
}

.drawerList li span:hover {
  cursor: pointer;
}

.drawerList li a {
  line-height: 1.3rem;
}

.drawerList li:hover {
  color: #c5c3c3;
}

/* ---------------- */
.subMenu {
  flex-direction: column;
  /* background-color: #000; */
  color: white;
  font-size: 0.8rem;
  width: 100%;
  padding-left: 0.5rem;
  /* padding: 0.6rem 0; */
  /* display: none;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out; */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
}

.subMenu.openSub {
  /* display: flex;
  transform: translateY(0%); */
  opacity: 1;
  max-height: 170px;
  translate: max-height 0.4s ease-out, opacity 0.4s ease-out;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.subMenu li {
  list-style: none;
}

.exit {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  color: #fff;
  font-size: 2rem;
  z-index: 100;
}

.exit .x {
  position: relative;
  height: 30px; /* this can be anything */
  width: 30px; /* ...but maintain 1:1 aspect ratio */
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.exit .x::before,
.exit .x::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px; /* cross thickness */
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.exit .x::before {
  transform: rotate(45deg);
}

.exit .x::after {
  transform: rotate(-45deg);
}

.exit:hover .x::before {
  transform: rotate(135deg);
}

.exit:hover .x::after {
  transform: rotate(45deg);
}

.exit:hover .x {
  transform: rotate(90deg);
}

.exit:hover {
  cursor: pointer;
}


            